# Parsing the News Headlines

# IMPORTS

In [44]:
import pandas as pd
import numpy as np
import geonamescache
from collections import Counter
import unidecode
import re
import json

## DataFrame

In [2]:
# Read the text file and make a dataframe

In [3]:
headlines = pd.read_csv('discovering-disease-outbreaks-base/data/headlines.txt',
                        header=None, 
                        delimiter='\n',
                        names=['Headlines'])

In [4]:
headlines.sample(5)

                                             Headlines
566  Duluth Patient in Critical Condition after Con...
300            How to Avoid Pneumonia in Bullhead City
541  More people in Cranford are infected with Hepa...
335       Framingham Residents Receive Measles vaccine
91                           Ebola outbreak in Kampala

In [5]:
# Check some informations about headlines
print("Number of headlines: {}".format(headlines.shape[0]))
print("Max lenght of headlines: {}".format(max([len(each[0]) for each in headlines.values])))
print("Min lenght of headlines: {}".format(min([len(each[0]) for each in headlines.values])))
print("Average lenght of headlines: {:.2f}".format(np.mean([len(each[0]) for each in headlines.values])))

Number of headlines: 650
Max lenght of headlines: 87
Min lenght of headlines: 16
Average lenght of headlines: 40.77

## Countries and Cities

In [6]:
# Init geonamecashe instance
gc = geonamescache.GeonamesCache()

In [7]:
# Extract the name of all the cities into a list
cities = [city['name'] for city in gc.get_cities().values()]
# Extract all the country names into a list
countries = [country['name'] for country in gc.get_countries().values()]

In [8]:
print("Total number of cities: {}".format(len(cities)))
print("Total number of countries: {}".format(len(countries)))

Total number of cities: 24336
Total number of countries: 252

In [9]:
# Find duplicate
city_counter = Counter(cities)
city_counter.most_common(10)

[('Springfield', 8),
 ('San Pedro', 7),
 ('Richmond', 7),
 ('San Fernando', 7),
 ('Mercedes', 6),
 ('La Paz', 6),
 ('Victoria', 6),
 ('San Francisco', 6),
 ('Auburn', 6),
 ('Santa Cruz', 6)]

In [10]:
# Remove accent marks
country_accent_mapping = {
    unidecode.unidecode(country): country for country in countries}

city_accent_mapping = {
    unidecode.unidecode(city): city for city in cities
}

In [11]:
# Clean the dataframe from accent marks
headlines_clean = pd.DataFrame(
    {
        "Headlines":[unidecode.unidecode(headline[0]) for headline in headlines.values]})

In [12]:
# Save cleaned cities and countries into a list
clean_cities = list(city_accent_mapping.keys())
clean_countries = set(country_accent_mapping.keys())

In [13]:
# Sort the city and country names
clean_cities = sorted(clean_cities, key=lambda x: len(x), reverse=True)
clean_countries = sorted(clean_countries, key=lambda x:len(x), reverse=True)

## Match countries

In [17]:
city_regex = r'\b|\b'.join(clean_cities)
country_regex = r'\b|\b'.join(clean_countries)

In [31]:
def find_country_and_city(headline):
    city = re.search(city_regex, headline)
    country = re.search(country_regex, headline)
    cities = None if not city else city.group(0)
    countries = None if not country else country.group(0)
    return dict(headline=headline, countries=countries, cities=cities)

In [39]:
headlines_extracted_cities_countries = [
    find_country_and_city(headline[0]) for headline in headlines.values
]

In [43]:
final_df = pd.DataFrame(headlines_extracted_cities_countries)

## Save files for later use

In [46]:
save_file = "headlines_with_city_country.json"
with open(save_file, 'w') as f:
    f.write(json.dumps(headlines_extracted_cities_countries))

In [47]:
with open("city_accent_mapping.json", 'w') as f:
    f.write(json.dumps(city_accent_mapping))
    
with open("country_accent_mapping.json", 'w') as f:
    f.write(json.dumps(country_accent_mapping))